In [1]:
import pandas as pd

In [6]:
contracts = pd.read_csv('transactions.csv', index_col=0)
contracts

         CONTRACTOR    STATUS  SUM
0         Acme, Inc   WAITING  415
1     Umbrella, Inc   WAITING  646
2     Umbrella, Inc        OK  780
3     Umbrella, Inc  CANCELED  887
4     Umbrella, Inc        OK  255
...             ...       ...  ...
9995      Acme, Inc        OK  881
9996      Acme, Inc        OK  160
9997  Umbrella, Inc        OK  683
9998  Umbrella, Inc   WAITING  805
9999      Acme, Inc   WAITING  982

[10000 rows x 3 columns]

In [21]:
print('Три самых крупных платежа из реально проведённых:')
contracts.loc[contracts[contracts['STATUS']=='OK']['SUM'].sort_values(ascending = False).index[:3].values]

Три самых крупных платежа из реально проведённых:

         CONTRACTOR STATUS     SUM
5085      Acme, Inc     OK  100500
4451  Umbrella, Inc     OK    1000
8186  Umbrella, Inc     OK     999

In [35]:
print('Полная сумма реально проведённых платежей в адрес Umbrella, Inc.:')
contracts.loc[(contracts['STATUS']=='OK')&(contracts['CONTRACTOR']=='Umbrella, Inc'), 'SUM'].sum()

Полная сумма реально проведённых платежей в адрес Umbrella, Inc.:

925719